h2{
    color: #232536;
text-align: center;
padding-top: 69px;

/* Heading H1 */
font-family: Sen;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 133.333% */
letter-spacing: -2px;
}
form{

 

button{
    padding: 24px ;
    margin-bottom: 50px;
    background: var(--yellow, #FFD050);
    color: var(--black, #232536);
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}
}